/* ===================================
    Google fonts
====================================== */

@font-face {
  font-family: "NCS_Radhiumz";
  src: url(./fonts/NCS_Radhiumz[1].ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(./fonts/Montserrat-Bold.ttf);
}
body {
  font-family: "Montserrat-Regular";
  background: #fff;
  font-size: 15px;
  color: #000;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.5px;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
section,
.section-padding {
  position: relative;
  padding: 7.5rem 0;
  overflow: hidden;
}


.portfolio-padding {
  padding: 7.5rem 0 4rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 3rem;
}
p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "", sans-serif;
  color: #535353;
}
img {
  max-width: 100%;
}
:focus {
  outline: none !important;
}
/* Width */
a,
a:active,
a:focus,
a:hover {
  text-decoration: none !important;
  outline: none;
  color: #fff;
}
a:focus,
a:hover {
  color: #fff;
}
a,
*::before,
*::after,
img,
span,
input,
button,
.navbar,
.fixedmenu {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
i::before,
i::after {
  -webkit-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}
/* transition none */
.no-transition * {
  transition-timing-function: initial;
  -moz-transition-timing-function: initial;
  -webkit-transition-timing-function: initial;
  -o-transition-timing-function: initial;
  -ms-transition-timing-function: initial;
  transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  -ms-transition-duration: 0s;
}
.no-animation {
  animation: none !important;
}
.no-transform {
  transform: none !important;
}
::selection {
  color: #fff;
  background: #fe655d;
}
::-webkit-scrollbar-track {
  background-color: #e9edf0;
  border-left: 1px solid #ededed;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: #fe655d;
}
::-webkit-scrollbar-thumb {
  background: #fe655d;
}
#more {
  display: none;
}
.read-more-btn {
  background: transparent;
  color: #fff;
  border: none;
  transition: 1s;
}
:focus {
  outline: none !important;
}
.enquiry_now_btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 35px;
  right: 45px;
  background-color: #021530;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #021530;
  z-index: 100;
  cursor: pointer;
}
.enquiry_now_btn .my-float {
  margin-top: 10px;
}
.whatsapp-btn i{
  font-size: 22px;
}
.whatsapp-btn{
  position: fixed;
    cursor: pointer;
    width: 40px;
    height: 40px;
    bottom: 45px;
    right: 45px;
    background: #1bd741;
    display: grid;
    place-items: center;
    border-radius: 50px;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}



.pop-sec{
  top: 14px;
position: absolute;
display: none;
padding: 2rem;
width: 50%;
height: auto;
background: #000;
transform: translate(-50%,0%);
left: 50%;
z-index: 1111;
}
.pop-sec .call-header{
  display: flex;
flex-direction: row;
justify-content: space-between;
}
.pop-sec .call-header i{
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.pop-sec .call-header h4{
  font-size: 2.5vw;
  color: #fff;
  display: inline;
  text-align: center;
  margin-bottom: 1rem;
}
.pop-sec .popup-body{
  text-align: center;

}

.pop-sec-show{
  display: block;
}

.pop-sec .popup-body i a{
  font-size: 1.5rem;
}
.pop-sec .popup-body i{
  font-size: 25px;
  color: #fff;
}
.pop-sec .popup-body h4{
  font-size: 2vw;
  color: #fff;
}
.pop-sec .popup-body button{
  border:1px solid #fff;
  padding: 1rem;
  margin: 1rem;
}
/* Modal Form Enquiry Now body style Start */

.enquiry-form-sec{
  background: #e92d1f;
}


.enquiry-form {
  padding: 2rem;
  box-shadow: 0px 0px 12px #5e0801;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.enquiry-form form textarea::placeholder,
.enquiry-form form select,
.enquiry-form form select option,
.enquiry-form form input::placeholder {
  color: #fff;
}
.enquiry-form form textarea,
.enquiry-form form select,
.enquiry-form form select option,
.enquiry-form form input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-family: "Montserrat-Regular", sans-serif;
  border-bottom: 1px solid #fff7;
  background: transparent;
  color: #fff;
  margin: 10px 0;
  font-size: 1.2rem;
}

.enquiry-form form select {
  color: #fff;
}
.enquiry-form form select option {
  color: #000;
}

.enquiry-form form button {
  padding: 10px 35px;
  border: 1px solid #fff7;
  border-radius: 30px;
  color: #fff;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0;
  align-self: center;
  transition: all 0.6s;
}
.enquiry-form form button:hover {
  /* box-shadow: inset 0 0 0 2em rgb(129, 128, 128); */
  box-shadow: inset 0 -3.25em 0 0 #fff;
  border: 1px solid #000;
  color: #000;
}
/* Modal Form Enquiry Now body style End */

/* Scroll to top start */
#scroll {
  position: fixed;
  cursor: pointer;
  width: 40px;
  height: 40px;
  bottom: 95px;
  right: 45px;
  background: #fe655d;
  text-indent: -9999px;
  display: none;
  border-radius: 50px;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}

#scroll:hover {
  background: #97b8a5;
  opacity: 1;
}
/* Scroll to top End */
.reveal {
  visibility: hidden;
  width: 100%;
  overflow: hidden;
}

#callme {
  position: fixed;
  right: 10px;
  bottom: 270px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 99990;
}

#callme i {
  top: 40px;
  position: relative;
  font-size: 20px;
  right: -15px;
  color: #000;
  transition: all 0.5s;
  /* transform: rotate(90deg); */
}
#callme i:hover {
  transform: rotate(90deg);
}
#callme #callmeMain {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: linear-gradient(
    141deg,
    rgb(204 51 51) 0%,
    rgb(241 86 60) 38.79%,
    rgb(247 151 122) 100%
  );
  /* background-color: #f16347; */
  width: 50px;
  height: 50px;
  -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;
  -moz-animation: zcwmini2 1.5s 0s ease-out infinite;
  animation: zcwmini2 1.5s 0s ease-out infinite;
}

#callme #callmeMain:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -6px;
  left: -6px;
  /* background-image: url(../images/mini.png); */
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: zcwphone2 1.5s linear infinite;
  -moz-animation: zcwphone2 1.5s linear infinite;
  animation: zcwphone2 1.5s linear infinite;
}
@-webkit-keyframes zcwphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes zcwphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes zcwphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zcwphone2 {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes zcwphone2 {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes zcwphone2 {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zcwmini {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
      0 0 0 40px rgba(207, 8, 8, 0);
  }
}
@-moz-keyframes zcwmini {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
      0 0 0 40px rgba(207, 8, 8, 0);
  }
}
@keyframes zcwmini {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
      0 0 0 40px rgba(207, 8, 8, 0);
  }
}
@-webkit-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
      0 0 0 40px rgba(207, 8, 8, 0);
  }
}
@-moz-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
      0 0 0 40px rgba(207, 8, 8, 0);
  }
}
@keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 0 rgba(0, 0, 0, 0),
      0 0 0 0 rgba(207, 8, 8, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px rgba(0, 0, 0, 0), 0 0 12px 14px;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(207, 8, 8, 0), 0 0 0 40px rgba(0, 0, 0, 0),
      0 0 0 40px rgba(207, 8, 8, 0);
  }
}

/* Header style start */

.enq-btn {
  background: #f1563c;
}
/* Header style End */

/* Footer style start */
.footer {
  padding: 5rem 0 0 0;
  background: #000;
  overflow: hidden;
}
.footer-services h6,
.footer-quick-link h6 {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}
.copyright-sec {
  padding: 2rem 0;
  width: 100%;
  background: rgb(92 90 90 / 20%);
}
.copyright-sec p {
  text-align: center;
}
.footer-social-links {
}
.footer-addtress {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.footer-services {
}
.footer-services h6 {
}
.footer-services ul li {
  color: #fff;
  list-style-type: disclosure-closed;
  padding: 3px 0;
}
.footer > .container > .row {
  padding: 10px 0;
}
.footer-quick-link {
}
.footer-quick-link h6 {
}
.footer-quick-link ul li {
  padding: 3px 0;
  color: #fff;
  list-style-type: disclosure-closed;
}
.footer-addtress a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.footer-addtress a i {
  padding: 0 10px;
  font-size: 20px;
}
.footer-social-links .social-circle {
  color: #343a40;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: inline-block;
  height: 2rem;
  flex: 0 0 2rem;
  overflow: hidden;
  text-align: center;
  line-height: 2rem;
  width: 2rem;
  transition: 1.2s all;
}
.footer-social-links .social-circle:hover {
  background-color: #e92d1f;
  color: #fff;
}
/* Footer style End */

/* stay connected start */
/*----- Contact US -----*/

section#stayconnect {
  padding: 4rem 0;
}

.contactus-wrapp,
.getin_form .form-control,
#map-container,
.form-check,
.form-group label,
.checkbox label {
  position: relative;
}

.contactus-wrapp {
  padding: 2.5rem 2rem;
  z-index: 5;
}
.contactus-wrapp.position-absolute {
  top: -180px;
}

.single-page-footer {
  margin-top: 0;
}

.single-page-footer .contactus-wrapp {
  transform: translateY(0px);
  background: #f1f1f1;
}

.contactus-wrapp,
.getin_form .form-control,
.form-check label::before,
.form-check input[type="checkbox"]:checked + label::before {
  background: #d1d1d157;
  box-shadow: 10px 7px 7px #342b2b3b;
}
.getin_form .form-control {
  border: 1px solid #535353;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 41px;
  color: #000;
  font-size: 0.875rem;
}

/*transparent form parallax version*/

.transparent-form input,
.transparent-form textarea {
  background: transparent;
  color: #fff !important;
  padding: 1.5rem 0.75rem;
  border-radius: 30px;
  border-color: #9ca2a8;
}

.transparent-form input:focus,
.transparent-form textarea:focus {
  background: transparent;
  border-color: #fff;
}

.transparent-form textarea {
  padding-top: 0.75rem;
  height: 150px;
}

/*CheckBox*/

.form-check {
  display: block;
  font-size: 13px;
}

.form-group label,
.checkbox label {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  min-height: 20px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-group label,
.checkbox label,
.form-check label::before,
.contact-table .icon-cell,
span.icon-contact {
  display: inline-block;
}

.form-check label::before {
  content: "\f00c";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ececec;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-align: center;
  color: transparent;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.form-check input[type="checkbox"]:checked + label::before {
  background: #ce232c;
  border-color: #ce232c;
  color: #fff;
}

textarea {
  min-height: 160px;
  resize: none;
}
textarea#FreeConsultation1 {
  min-height: 200px;
}

button {
  border: none;
  cursor: pointer;
}

/* Form general- */

::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder,
:-moz-placeholder,
.form-control:-moz-placeholder,
::-moz-placeholder,
.form-control::-moz-placeholder,
:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #b6b8ba;
}

textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder {
  color: #b6b8ba;
  opacity: 1;
}

.contact-table .cells {
  vertical-align: middle;
}

.contact-table .icon-cell {
  color: #26313c;
  text-align: center;
  font-size: 18px;
  margin-right: 10px;
}

#map-container,
#map-container > iframe {
  width: 100%;
}

#map-container > iframe {
  border: none;
  height: 100%;
}

span.icon-contact {
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 1;
}

.noshadow .widget {
  box-shadow: none !important;
}
.gradient-btn {
  -webkit-background-size: 200% auto;
  background-size: 200% auto;
  background-image: -webkit-gradient(
    141deg,
    rgb(204 51 51) 0%,
    rgb(241 86 60) 38.79%,
    rgb(247 151 122) 100%
  );
  background-image: -webkit-linear-gradient(
    141deg,
    rgb(204 51 51) 0%,
    rgb(241 86 60) 38.79%,
    rgb(247 151 122) 100%
  );
  background-image: -moz-linear-gradient(
    141deg,
    rgb(204 51 51) 0%,
    rgb(241 86 60) 38.79%,
    rgb(247 151 122) 100%
  );
  background-image: -o-linear-gradient(
    141deg,
    rgb(204 51 51) 0%,
    rgb(241 86 60) 38.79%,
    rgb(247 151 122) 100%
  );
  background-image: linear-gradient(
    141deg,
    rgb(204 51 51) 0%,
    rgb(241 86 60) 38.79%,
    rgb(247 151 122) 100%
  );
  color: #fff;
  transition: all .8s ease-in-out;
}
.gradient-btn:hover {
  background-image: linear-gradient(
    141deg,
    rgb(247 151 122) 0%,
    rgb(241 86 60) 38.79%,
    rgb(204 51 51) 100%
  );
}
.sub-button {
  position: relative;
  display: inline-block;
  font-size: 15px;
  padding: 0.8rem 2.25rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  border: 1px solid transparent;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  transition: all .8s ease-in-out;
}

/*----- Contact US -----*/

/* stay connected End */
/* ================ Header ============================
  ======================================================= */
.navbar {
  /* position: fixed; */
  background: #fff;
  z-index: 999;
  width: 100%;
}
.navbar-brand {
  width: 170px;
}
.navbar-nav .nav-link {
  color: #000;
  font-family: "Sk-Modernist-Regular";
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.navbar > .container-fluid {
  width: 90%;
}
.navbar-expand-xl .navbar-collapse {
  justify-content: flex-end;
}
.nav-item {
  position: relative;
}
.nav-item::before {
  content: "";
  top: 0;
  right: 0;
  width: 0%;
  position: absolute;
  border-top: 1px solid #ce232c;
  transition: all 0.4s;
}
.nav-item::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  position: absolute;
  border-bottom: 1px solid #ce232c;
  transition: all 0.4s;
}

.nav-item:hover::after,
.nav-item:hover::before {
  width: 100%;
}

.enq-btn {
  background: #ce232c;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 30px;
  font-family: "Sk-Modernist-Regular";
  transition: all 0.4s;
}

.enq-btn:hover {
  background: #000;
  color: #fff;
  transform: scaleX(1.2);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:active {
  border: 1px solid #ce232c;
}
/* =============== Header End =======================
    =====================================================*/
/* top navbar start */
/* Upper Navbar  */
.upper-nav {
  background-color: #ce232c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.upper-nav h4.top-text {
  font-size: 12px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-top: auto;
  margin-bottom: auto;
}
.upper-nav .top-detail {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.upper-nav .top-detail li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
.upper-nav .top-detail li a {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
}

.upper-nav .top-detail li.c-links span i {
  font-size: 20px;
  margin-right: 5px;
  color: #ffffff;
  position: relative;
  top: 2px;
}
.upper-nav .top-detail li.social-links {
  margin-left: 15px;
  margin-right: 0;
}
.upper-nav .social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.upper-nav .top-detail li.social-links span i {
  font-size: 14px;
  margin-right: 0;
  color: #ffffff;
  padding: 4px;
  position: relative;
  top: 0;
  border: solid 1px transparent;
  -webkit-transition: 0.8s ease;
  -o-transition: 0.8s ease;
  transition: 0.8s ease;
}
.upper-nav .top-detail li.social-links span i:hover {
  border-radius: 50%;
  border: solid 1px #ffffff;
}
/* top navbar End */
/* Video Section start */
.video-sec {
}
.video-sec video {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: center;
}
.video-sec #desktop {
  display: block;
}
.video-sec #mobile {
  display: none;
}
/* Video Section end */
/* Service section  */
.services-section .services-row {
  margin: 30px 0;
}
.contact-us h1,
.services-section h1 {
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  position: relative;
  color: rgba(255, 255, 255, 0.3);
}
.contact-us h1::after,
.services-section h1::after {
  position: absolute;
  /* left: 0; */
  left: 40%;
  transform: translate(10px, -10px);
  content: "Our Services";
  bottom: 0;
  color: #fff;
  width: fit-content;
  font-size: 2rem;
}
.contact-us h1::after{
  content: "Contact Us";
}
.services-section {
  background: #e92d1f;
}
.service-card {
  width: 100%;
  text-align: center;
  height: 150px;
  padding: 10px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.service-card img {
  width: 50%;
  text-align: center;
}
.service-card:hover h3 {
  transform: scale(1.2);
  color: #e92d1f;
}
.service-card h3 {
  color: #000;
  transition: all 0.6s;

  font-size: 1.2rem;
}
/* Service section  */
/* Offer section */
.offer-sec {
  padding: 5rem 0;
}
.offer-sec .offer-row {
  background: #021530;
}
.offer-sec .offer-row h4 {
  text-align: center;
  color: #fff;
}
.offer-sec .offer-row img {
}
/* Offer section */
.why-section {
  padding: 2rem 0;
}
.why-section h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
}
.choose-cards {
  text-align: center;
}
.choose-cards img {
  width: 40%;
}
.choose-cards h4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px 0;
}
.choose-cards p {
  font-size: 1rem;
}

/* Car denting penting section start */
.car-denting-sec {
  padding: 5rem 0;
  overflow: hidden;
}
.car-denting-sec h1 {
}
.car-denting-card2 {
  text-align: center;
}
.car-denting-card2 img {
  height: 100%;
  width: 75%;
}
.car-denting-card1,
.car-denting-card2,
.car-denting-card3 {
  padding: 15px 0;
}
.car-denting-card3 {
  text-align: start;
}
.car-denting-card1 {
  text-align: end;
}
.car-denting-card3 h3,
.car-denting-card1 h3 {
  font-size: 1.5rem;
  color: #e92d1f;
  font-weight: 700;
  margin: 15px 0;
}
.car-denting-card3 h3 {
}
.car-denting-card3 p,
.car-denting-card1 p {
  font-size: 1.2rem;
}
/* Car denting penting section End */

/* Swiper Slider */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 210px;
}
.logo-item img:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #494848);
  filter: drop-shadow(5px 5px 5px rgb(65, 64, 64));
}
.logo-item img {
  width: 90%;
}
.logo-item h5 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
}
.our-partners {
  padding: 4rem 0;
}
.our-partners h2 {
  margin-bottom: 35px;
  text-align: center;
  font-size: 3rem;
}

.footer-content {
  padding: 15px 0;
}
.footer-content p {
  color: #fff8;
}

.about-us {
  padding: 5rem 0 0 0;
}
.about-content {
  width: 80%;
  margin: auto;
}
.about-content h1 {
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
  position: relative;
  color: rgba(0, 0, 0, 0.1);
}
.about-content h1::after {
  position: absolute;
  /* left: 0; */
  left: 40%;
  transform: translate(10px, -10px);
  content: "About Us";
  bottom: 0;
  color: #000;
  width: fit-content;
  font-size: 2rem;
}
.about-content p {
  font-size: 1.5rem;
  line-height: 1.5;
}
.google-map-section {
  padding: 0 0;
}

/* ================= Contact page start ====================
=========================================================== */

/*----- Contact US -----*/

.footer-services ul li,
.footer-quick-link ul li {
  list-style-position: inside;
}
/* width: 100%;
  height: 72%;
  overflow: hidden;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 72vh;
}
.halfscreen .container,
.halfscreen .container-wide {
  margin-top: 2%;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.halfscreen .container-fullscreen {
  width: 100%;
} */
/*----- Contact US -----*/

/* ================= Contact page End ======================
=============================================================*/
